# Changelog

{% for version, release in context.history.released.items() %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{% for type, commits in release.elements | groupby("type") %}
### {{ type | capitalize }}

{% for commit in commits %}
- {{ commit.descriptions[0] }}
{% endfor %}

{% endfor %}
{% endfor %}
