{
  "obsidian": {
    "server": {
      "uri": "http://localhost:5984/{{ vault_livesync_database }}",
      "auth": {
        "username": "{{ vault_livesync_user }}",
        "password": "{{ vault_livesync_password }}",
        "passphrase": "{{ vault_livesync_password }}"
      },
      "path": "",
      "initialScan": true
    },
    "local": {
      "path": "/home/{{ ansible_user }}/obsidian-vault",
      "initialScan": true
    },
    "auto_reconnect": true,
    "sync_on_connect": true
  }
}
